@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Modak&family=Open+Sans:wght@300;400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap");
html {
  scroll-behavior: smooth;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  --color-primary: #f4ab9b;
  /* --color-primary:  #faebfa; */
  --color-secondary: #ff9b9b;
  --color-primary-light: #fff8e3;
  --color-secondary-light: #ffdd95;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

dialog::backdrop {
  backdrop-filter: blur(7px);
}

.reveal-type {
  font-size: clamp(3.5rem, 3.5vw, 8rem);
}

.protest {
  font-family: "Protest Revolution", sans-serif;
}

@layer components {
  img {
    @apply select-none;
  }
  input:not([type="file"]),
  select {
    @apply w-full px-3 py-3 pl-5 text-black bg-white rounded-md shadow-xl outline-none focus:outline-none;
  }
  input::placeholder {
    @apply font-normal text-black opacity-70;
  }
  .tile {
    @apply inline-flex items-center gap-2 px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg cursor-pointer focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700;
  }
  .chip {
    @apply select-none items-center whitespace-nowrap rounded-lg bg-gray-900 py-1.5 px-3 font-sans text-xs uppercase text-white;
  }
  button:disabled {
    @apply select-none opacity-80;
  }
}

.animate-enter {
  animation: animateEnter 1s forwards;
}

.slide-down {
  animation:
    slide-down-move 200ms forwards,
    slide-down-opacity 200ms forwards;
  pointer-events: all;
}

.animation-fill-forwards {
  animation-fill-mode: forwards !important;
}

.grid-cols-custom {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
@keyframes animateEnter {
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-down-move {
  100% {
    top: 2.5rem; /*tailwind top-10 */
  }
}

@keyframes slide-down-opacity {
  100% {
    opacity: 1; /*tailwind opacity-1 */
  }
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
