@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Modak&family=Open+Sans:wght@300;400;800&display=swap");

html {
  scroll-behavior: smooth;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  --color-primary: #fb923c;
  --color-secondary: #34d399;
  --color-primary-light: #fff7ed;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

dialog::backdrop {
  backdrop-filter: blur(7px);
}
@layer components {
  input,
  select {
    @apply px-3 pl-5 py-3 bg-white w-full outline-none rounded-md text-black focus:outline-none shadow-xl;
  }
  input::placeholder {
    @apply text-white font-semibold opacity-70;
  }
  .tile {
    @apply min-w-fit flex justify-between items-center gap-2 rounded-md
    bg-white px-5 py-2 text-sm text-black transition-all duration-75 ease-out
    shadow-lg hover:shadow-2xl cursor-pointer;
  }
  button:disabled {
    @apply opacity-80 select-none;
  }
}

.animate-enter {
  animation: animateEnter 1s forwards;
}

.slide-down {
  animation: slide-down-move 200ms forwards, slide-down-opacity 200ms forwards;
  pointer-events: all;
}

.animation-fill-forwards {
  animation-fill-mode: forwards !important;
}

.grid-cols-custom {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
@keyframes animateEnter {
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-down-move {
  100% {
    top: 2.5rem; /*tailwind top-10 */
  }
}

@keyframes slide-down-opacity {
  100% {
    opacity: 1; /*tailwind opacity-1 */
  }
}
